fastapi
uvicorn
sqlalchemy[asyncio]
greenlet
asyncpg
pydantic-settings
python-dotenv
python-multipart
alembic
python-jose[cryptography]
passlib[bcrypt]
PyMuPDF
python-docx
pytesseract
Pillow
google-generativeai
pgvector
reportlab
openpyxl
